@import './../../../scss_modules/mixins';

.sing-up-container {
  @include flex(column, center, center);
  width: 100%;
  min-height: 600px;
  background: linear-gradient(215deg, #3ccfcf, #2b779e, #3ccfcf);
  background-size: 600% 600%;
  animation: bg-anim 19s ease infinite;
}
h2 {
  color: #3ccfcf;
}
form {
  @include flex(column, center, space-around);
  width: 330px;
  padding: 20px;
  background-color: #fff;
}
label {
  margin:20px 0;
  position:relative;
  display:inline-block;
}
span {
  &.placeholder {
  padding: 15px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
  }
  &.error-validation {
   color: #cc0000;
   transition: 0.4s;
   font-size: 14px;
  }
}

input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  padding: 5px 15px;
  margin-bottom: 20px;
  font-size: 21px;
  transition: 0.4s;
  border-bottom: 1px solid #ccc;
  &:focus {
    border-bottom: 2px solid #3ccfcf;
  }
  &.not-valid {
    border-bottom: 2px solid #cc0000;
  }
}
.form-group {
  width: 100%;  
  margin: 20px 0 20px;
}
button[type='submit'] {
  width: 90%;
  height: 40px;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  background-color: #3ccfcf;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  border: none;
  &:hover {
    background-color: lighten($color: #3ccfcf, $amount: 15%);
  }
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-100%) translateX(-30px);
}




@keyframes bg-anim { 
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}