@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import 'src/scss_modules/mixins';

.sing-up-container,
.login-container,
.administrator-container {
  @include flex(column, center, center);
  width: 100%;
  min-height: 600px;
  background: linear-gradient(215deg, #3ccfcf, #2b779e, #3ccfcf);
  background-size: 600% 600%;
  animation: bg-anim 19s ease infinite;
}

.form-group {
  width: 100%;
  margin: 20px 0 20px;
}

app-social-auth {
  width: 100%;
}

h2 {
  color: #3ccfcf;
  text-align: center;
  &.error-title {
    color: #cc0000;
  }
}
b {
  color: #ffcd1f;
}

form,
.congrat,
.wrong-credentials {
  @include flex(column, center, space-around);
  width: 330px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
}

.congrat,
.wrong-credentials {
  min-height: 250px;
}

.wrong-credentials {
  color: #cc0000;
}

label {
  margin: 5px 0;
  position:relative;
  display:inline-block;
}

span {
  text-align: center;
  &.placeholder {
  padding: 15px;
  pointer-events: none;
  position:absolute;
  left:0;
  top:0;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
  }
  &.error-validation {
   color: #cc0000;
   transition: 0.4s;
   font-size: 14px;
  }
}

input,
select {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  padding: 5px 15px;
  margin-bottom: 5px;
  font-size: 21px;
  transition: 0.4s;
  border-bottom: 1px solid #ccc;
  &:focus {
    border-bottom: 2px solid #3ccfcf;
  }
  &.not-valid {
    border-bottom: 2px solid #cc0000;
  }
}

button {
  @include flex(row, center, space-around);
  width: 90%;
  height: 40px;
  letter-spacing: 1px;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  &[type='submit'],
  &.to-login-btn {
    background-color: #3ccfcf;
    &:hover {
      background-color: lighten($color: #3ccfcf, $amount: 15%);
    }
  }
  &.fa-facebook {
    background-color: #3B5998;
    &:hover {
      background-color: lighten($color: #3B5998, $amount: 15%);
    }
  }
  &.fa-google {
    background-color: #dd4b39;
    &:hover {
      background-color: lighten($color: #dd4b39, $amount: 15%);
    }
  }
  &.error-btn {
    background-color: #dd4b39;
    &:hover {
      background-color: lighten($color: #dd4b39, $amount: 15%);
    }
  }

}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
  transform: scale(0.75) translateY(-80%) translateX(-30px);
}

.social-btns-container {
  @include flex(column, center, space-around);
  width: 100%;
}

@keyframes bg-anim {
  0%{background-position:84% 0%}
  50%{background-position:17% 100%}
  100%{background-position:84% 0%}
}
