@import './mixins';

.row {
  @include flex(row, center, space-between);
}

.column {
  @include flex(column, center, space-between);
}

.container {
  width: 100%;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}
