<div class="game-container">
  <div class="progress">
    <span>Time:</span>
    <span>{{time}}</span>
  </div>
  <div
    class="game-area"
    #gameArea
  >
    <div
    *ngFor="let word of wordsForGame"
    class="drager"
    ngDraggable
    [ngClass]=""
    [style.transform]="'translate(' + word.offset.x + 'px, ' + word.offset.y + 'px)'"
    [position]="word.offset"
    [zIndex]="word.offset.z"
    (started)="dragStart(word.offset, word.hiddenWord)"
    (stopped)="gragStop(word.offset)"
    (mouseup)="checkWords(word.displayWord)"
  >
      <span class="drager-item">{{word.displayWord}}</span>
    </div>
  </div>
</div>

<div class="modal-msg-container" *ngIf="isEndOfGame || isStartOfGame">
    <div class="end-start-msg" *ngIf="isEndOfGame">
    <h2 class="message">Congratulation !!!!</h2>
    <h5 class="message">Your time: {{time}}</h5>
    <button class="start-end-btn" (click)="restartGame()"> OK </button>
  </div>
  <div class="end-start-msg" *ngIf="isStartOfGame">
    <h2 class="message">Match words</h2>
    <button class="start-end-btn" (click)="startGame()"> Start game </button>
  </div>
</div>




