@import 'src/scss_modules/mixins';

header {
  @include flex(row, center, space-between);
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: #4257b2;
  color: #fff;
}

h2 {
  font-size: 32px;
  margin: 0;
  letter-spacing: 2px;
  color: #3ccfcf;
}

span,
.user-menu-btn {
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px 50px;
  border: none;
  outline: none;
  &.sign-in {
    background-color: #3ccfcf;
    border-radius: 4px;
    &:hover {
      background-color: lighten($color: #3ccfcf, $amount: 10%);
    }
  }
  &.login {
    color: #3ccfcf;
    &:hover {
      color: #fff;
    }
  }
  &.drp-dwn-menu-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #ddd;
    }
  }
}

.user-menu-btn {
  background-color: #3ccfcf;
  border-radius: 4px;
  color: #fff;
  &:hover {
    background-color: lighten($color: #3ccfcf, $amount: 10%);
  }
  // background-color: #3498DB;
  // color: white;
  // padding: 16px;
  // font-size: 16px;
  // border: none;
  // cursor: pointer;
  //   &:hover,
  //   &:focus {
  //   background-color: #2980B9;
  // }
}



.user-menu-container {
  position: relative;
  display: inline-block;
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba($color: #f1f1f1, $alpha: 0.7);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 1;
    animation: openMenu .7s;
  }
  &:hover {
    .dropdown-content {
      display: block;

    }
  }
}


@keyframes openMenu {
  from {
    opacity: 0;
  }
}



