@import 'src/app/core/main/main.component.scss';
@import 'src/scss_modules/mixins';
@import 'src/scss_modules/base';

.question-contaianer {
  width: 800px;
  transition: 0.6s;
  animation: fade 1s;
}
.question,
.result-container {
  width: 100%;
  height: 400px;
  @include flex(column, center, space-around);
  background-color: #fff;
  transition: 0.6s;
  animation: fade 1s;
  .answers-container {
    width: 100%;
    padding: 0 20px;
    @include flex(row, center, center);
  }
}

.result {
  width: 50%;
}

.index-container {
  @include flex(row, center, center);
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 5;
  width: 25px;
  height: 25px;
  font-size: 14px;
}

@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
